{% extends "base.html" %}

{% block title %}View for {{ event.name }}{% endblock%}

{% block body %}

<h3 class="text-center">View for Event: <b>{{ event.name}}</b></h3>

<ul>
    <li>Detail for {{ event.name}}.</li>
    <li>Start date: {{ event.time_and_date.date }} at {{ event.get_time }}.</li>
    <li>Available tickets: </li>
    {% for category, num in tickets %}
        {% if num %}
            <li>{{ category }}: {{ num }}
                <button>
                    <a href="{% url 'reserve_ticket' event.id category %}">
                        Reserve</a>
                </button>
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
